body{
  padding:50px;
  background-color:#66CCFF;
  font-family:sans-serif;
}
#container{
  display:flex;
  justify-content:center;
  flex-direction:column-reverse;
}

body{
  padding:50px;
  background-color:#66CCFF;
  font-family:sans-serif;
}
#container{
  display:flex;
  justify-content:center;
  flex-direction:column-reverse;
}
.todoListMain.headerinput{
  padding:10px;
  font-size:16px;
  border:2pxsolid#FFF;
  width:165px;
}
.todoListMain.headerbutton{
  padding:10px;
  font-size:16px;
  margin:10px;
  margin-right:0px;
  background-color:#0066FF;
  color:#FFF;
  border:2pxsolid#0066FF;
}
.todoListMain.headerbutton:hover{
  background-color:#003399;
  border:2pxsolid#003399;
  cursor:pointer;
}
.todoListMain.theList{
  list-style:none;
  color:red;
  padding-left:0;
  width:250px;
}
.todoListMain.theListli{
  color:#333;
  background-color:rgba(255,255,255,.5);
  padding:15px;
  margin-bottom:15px;
  border-radius:5px;
  list-style:none;
}
ul.theList{
  padding:0;
  list-style:none;
  display:inline-flex;
  justify-content:center;
  flex-direction:column-reverse;
}
.theListli{
  color:#333;
  background-color:rgba(255,255,255,.5);
  padding:15px;
  margin-bottom:15px;
  border-radius:5px;
  transition:background-color.2sease-out;
}
.todoListMain.theListli:hover{
  background-color:pink;
  cursor:pointer;
}